.base-header{
    background: #fff; 
}

.base-header .logo {
    width: 100%;
    height: 31px;
    background: rgba(84, 112, 151, 0.2);  
    margin: 16px 28px 16px 0;
    float: left;
}
.ant-menu-horizontal{
    display: flex;
    justify-content: space-around;
    height: 64px;
    line-height: 64px;
    border-bottom: none;
}

.base-header .nav-auth {
    float: right;
} 

.user-info {
    flex-direction: row-reverse;
    margin-top: 12px;
}
.user-info .user-avatar {
    border-radius: 50%;
    cursor: pointer;
}